@{
    ViewData["Title"] = "Home Page";
}

@model NotesViewModel

<form asp-action="Index" asp-controller="Home"  class="input-group mb-3">
    <div>
        <label for="inputTheme" class="form-label">Тема:</label>
        <input type="text" name="theme" class="form-control" aria-describedby="theme...">
    </div>
    <div>
        <label for="inputContent" class="form-label">Описание:</label>
        <input type="text" name="content" class="form-control" aria-describedby="content...">
        <br />
    </div>
    <button type="submit" id="confirm" class="btn btn-primary btn-lg">Записать</button>
    <hr />
</form>

@if (@Model?.Notes.Count() > 0)
{
    <ul class="list-group">
        @foreach (Note note in @Model.Notes)
        {
            <li class="list-group-item">
                @note.Theme + " " + @note.Content
            </li>
        }
    </ul>
}

@section Scripts{
    <script> 
    $('confirm').click(function() {
    );
});
</script>
}
